.site-wrapper {

	background: 
		linear-gradient(
      		rgba(200, 200, 200, 0.75), 
      		rgba(200, 200, 200, 0.75)
    	),

	url(i6_8.jpg);
	
}

.container {
	
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

/* This makes the large picture responsive   */
img {
	max-width: 100%; 
}

/* Add border to any picture  */
.entry-content img {
	border: #551A8B 4px solid;
}


/* Add space between list items  */
li {
	margin: 10px 0;
}


h1 {
	color: gold;
	font-size: 500%;
	font-stretch: extra-expanded;
}

h2 {
	color: gold;
}

h3 {
	color: gold;
}

p {
	color: black;
	font: bold;
}

/*
.list-unstyled {
	background: grey;
}
*/

.media_injury {
	position: relative;
	left: 150px;
}


.media-body{
	display: flex;
}

.footer {
	text-align: center;
}